* {
    margin: 0;
    padding: 0;
}
/* HEADER PART */

.win {
    color: #0077b6;
}

header {   
    font-size: 14px;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.9);
    width: 100%;
    gap: 30rem;
    height: 100px;
    z-index: 10;
}

nav {
    display: flex;
    gap: 50px;
    font-size: 24px;
}
nav a {
    text-decoration: none;
    color: black;
}

@media (max-width: 768px) {
        
    body {
        overflow-x: hidden;
    }

    header {
        flex-direction: column;
        height: 10rem;
        gap: 2rem;
    }

    nav {
        gap: 20px;
        flex-wrap: wrap;
        justify-content: center;
        font-size: 18px;
    }
}

/* HEADER END */
.start {
 background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url(https://www.gazeta.uz/sp/35429918/img/tild3566-3633-4039-b166-343137303362__yxkzop16282472803398.jpeg);
    height: 60vh;
    background-size: cover;
}
.a-text a {
    background: #f3f4f6;
    border-radius: 20px;
    text-decoration: none;
    color: black;
}
.gl {
    display: flex;
    justify-content: center;
    align-items: center;
}
header span {
    color: #0077b6;
}
.start-sec .start-div {
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS_kmC7rw7sCWY97lA44qF7HK-gVonhn0I4ofNsetelEqpfws9-);
    height: 60vh;
    background-size: cover;
}
.start-div h1 {
    padding-top: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 50px;
    color: white;
}
.start-div p {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    color: white;
}
.win-section h1 {
    padding-left: 850px;
    padding-top: 100px;
}


.end-text {
    display: flex;
    justify-content: center;
    gap: 200px;
    text-align: center;
    flex-wrap: wrap;
}

.end-text .aa {
    filter: drop-shadow(5px 5px 15px rgba(0, 0, 0, 0.2));
    width: 300px;
    height: 100px;
    padding: 20px;
    background-color: white;
    border-radius: 15px;
}

.class-div {
    display:flex;
    justify-content: center;
    align-items: center;
}

.aa {
    flex-direction: column;

}
.end-section img {
    border-radius: 15px;
}
.end-section div {
    flex-wrap: wrap;
}

.end-section {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 80px;
    flex-wrap: wrap;
}
form label {
    font-size: 24px;
}
form input {
    width: 500px;
    padding: 10px 10px;
    border-radius: 10px;
}
textarea {
    width: 500px;
    padding: 10px 10px;
    border-radius: 10px;
}
#sbm {
    background-color: #0077b6;
    border: none;
    color: white;
    padding-bottom: 10px;
    padding-top: 10px;
    border-radius: 10px;
}



footer {
    height: 300px;
    background-color: #0b1220;
    color: white;
    display: flex;
    justify-content: center;
}
footer div {
    gap: 1000px;
    padding-top: 50px;

}
footer h1 {
    font-size: 17px;
}

.end-top {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 400px;
}
.end-top h2 {
    color: #6b7280;
}
.end-texts h5 {
    color: #6b7280;
}
.end-texts {
    display: flex;
    justify-content: center;
    align-items: center;
   
}


@keyframes fadeUp {
  to { opacity: 1; transform: translateY(0); }
}

#sbm:hover {
    translate: 0 -5px;
    transition: 0.3s;
}
@keyframes fadeUp {
  to { opacity: 1; transform: translateY(0); }
}

.end-text div:hover {
    translate: 0 -5px;
    cursor: pointer;
    transition: 0.3s;
}
@media (max-width: 768px) {
    
    .end-top {
        flex-direction: column;
        gap: 30px;
        text-align: center;
    }


    footer {
        flex-direction: column;
        height: auto;
        padding-bottom: 30px;
    }

}
